<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>
    <body>
        <link rel="stylesheet" href="http://localhost:63342/Instructor_Log/static/css/stylesheet_day.css">
        <div class="calendar-wrapper"><table>
            <tr>
                <td>Время</td>
                <td>Статус</td>
            </tr>
            <tr>
                <td><button id="btn8_00" name="btn8_00" type="button">8:00</button></td>
                <td><input id="input8_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn9_00" name="btn9_00" type="button">9:00</button></td>
                <td><input id="input9_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn10_00" name="btn10_00" type="button">10:00</button></td>
                <td><input id="input10_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn11_00" name="btn11_00" type="button">11:00</button></td>
                <td><input id="input11_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn12_00" name="btn12_00" type="button">12:00</button></td>
                <td><input id="input12_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn13_00" name="btn13_00" type="button">13:00</button></td>
                <td><input id="input13_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn14_00" name="btn14_00" type="button">14:00</button></td>
                <td><input id="input14_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn15_00" name="btn15_00" type="button">15:00</button></td>
                <td><input id="input15_00"   type="input" value="Свободно" readonly></td>
            </tr>
            <tr>
                <td><button id="btn16_00" name="btn16_00" type="button">16:00</button></td>
                <td><input id="input16_00"   type="input" value="Свободно" readonly></td>
            </tr>
        </table>
                    <div id="divDay">
                        <script src="http://localhost:63342/Instructor_Log/static/js/index_day.js"></script>
                    </div>
                    <button  onclick="document.location='../home'" id="backCal" type="button">Назад к календарю</button>
                </div>
    </body>
</html>