<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<link rel="stylesheet" href="http://localhost:63342/Instructor_Log/static/css/stylesheet_history.css">
<div class="history">
    <p>Список пользователей</p>
    <div id="divHistory">
        <script src="http://localhost:63342/Instructor_Log/static/js/index_history.js"></script>
    </div>
    <button  onclick="document.location='../'" id="but" type="button">Назад к календарю</button>

</div>
</body>
</html>
