<!DOCTYPE html>
</head>
    <meta charset="UTF-8">
    <title>Title</title>
        <body>
        <link rel="stylesheet" href="http://localhost:63342/Instructor_Log/static/css/stylesheet_home.css">
        <div class="calendar-wrapper">
            <button onclick="document.location.href='home/myprofile'" id="but_myProfile"
                    type="button">Личный кабинет</button>
            <button id="btnPrev" type="button">Предыдущий</button>
            <button id="btnNext" type="button">Следующий</button>
            <div id="divCal">
                <script src="http://localhost:63342/Instructor_Log/static/js/index_home.js"></script>
            </div>
        </div>
        </body>
</html>